  <header class="header fw-bold">
        <div class="contact" style="padding: 10px;">
            <i class="fas fa-phone phoneIcon"></i> Contact:
            <a href="tel:+911884292036" style="text-decoration: none; color: white;">01884-292036</a>,
            <a href="tel:+911884245236" style="text-decoration: none; color: white;">+91 1884 245236</a>
        </div>

        <div class="icons">
            <a href="https://www.facebook.com/sggskcm.org/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/channel/UCQxBQ7mNFo62R3t8Va7x54w" target="_blank"><i
                    class="fab fa-youtube"></i></a>
            <a
                href="https://www.instagram.com/sggskhalsacollege?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                    class="fab fa-instagram"></i></a>
        </div>
    </header>

    <!-- navbar start -->
   <nav class="navbar navbar-expand-lg classy-navbar sticky-top">
        <div class="container-fluid">

            <!-- Logo -->

            <a class="navbar-brand d-flex align-items-center gap-2 " href="index.html">
                <img src="./images/sggsnewlogo.jpeg" alt="SGGS College Logo" class="nav-logo">
            </a>

            <!-- Toggle -->
            <button class="navbar-toggler classy-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarsExample">

                <!-- Left links -->
                <ul class="navbar-nav ms-auto align-items-lg-center classy-nav gap-lg-2 sticky-top">

                    <li class="nav-item"><a class="nav-link classy-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link classy-link" href="faculty.html">Faculty</a></li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle classy-link" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Programs</a>

                        <ul class="dropdown-menu classy-dropdown">
                            <li><a class="dropdown-item" href="Course-Programmes.html#ug">Undergraduate</a></li>
                            <li><a class="dropdown-item" href="Course-Programmes.html#pg">Postgraduate</a></li>
                            <li><a class="dropdown-item" href="Course-Programmes.html#diploma">Diploma</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fw-semibold" href="Course-Programmes.html">All Programs →</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle classy-link" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Departments</a>

                        <ul class="dropdown-menu classy-dropdown">
                            <li><a class="dropdown-item" href="ba-department.html">Department of Arts</a></li>
                            <li><a class="dropdown-item" href="bsc-department.html">Department of Science</a></li>
                            <li><a class="dropdown-item" href="bcom-department.html">Department of Commerce</a></li>
                            <li><a class="dropdown-item" href="compter&It-department.html">Department of IT</a></li>
                            <li><a class="dropdown-item" href="bba-department.html">Department of Management</a></li>
                            <li><a class="dropdown-item" href="bvoc-department.html">Department of B.Voc</a></li>
                            
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fw-semibold" href="Departments-of-SGGS-Collage.html">View All
                                    Departments →</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link classy-link"
                            href="Facility-in SGGS-Collage.html">Facilities</a></li>
                    <li class="nav-item"><a class="nav-link classy-link" href="CarrerGuidance.html">Career Guidance</a></li>
                    <li class="nav-item"><a class="nav-link classy-link" href="contactus copy.html">Contact</a></li>
                    <!-- <li class="nav-item"><a class="nav-link classy-link" href="Addimision-page.html">Admissions</a></li> -->
                    <li class="nav-item"><a class="nav-link classy-link" href="naac (2).html">NAAC</a></li>

                    <!-- CTA -->
                    <li class="nav-item ms-lg-2">
                        <a href="contactus copy.html" class="classy-apply-btn">
                            <i class="fas fa-graduation-cap"></i> Apply Now
                        </a>
                    </li>
                    
                </ul>
            </div>

        </div>
    </nav>
    
